{{ define "create"}}
{{ template "header"}}

<div class="card">

    <div class="card-header">    Employee   </div>
    <div class="card-body">
        <!--  Recibe  -->
        <form method="post" action="/insert">
            <div class="form-group">
              <label for="">Name</label>
              <input type="text"
                class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Write your name</small>
            </div>
            <div class="form-group">
              <label for="">Mail</label>
              <input type="email" class="form-control" name="mail" id="mail" aria-describedby="emailHelpId" placeholder="">
              <small id="emailHelpId" class="form-text text-muted">Mail example name@mail.com</small>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
</div>



{{ template "footer"}}
{{end}}