{{ define "edit"}}
{{ template "header"}}

<div class="card">

    <div class="card-header">    Employee   </div>
    <div class="card-body">
        <!--  Recibe  -->
        <form method="post" action="/update">

                <input type="hidden" value={{.Id}} class="form-control" name="id" id="id" placeholder="">

            <div class="form-group">
              <label for="">Name</label>
              <input type="text"
                class="form-control" name="name" value = {{.Name}} id="name" aria-describedby="helpId" placeholder="">
              <small id="helpId" class="form-text text-muted">Write your name</small>
            </div>
            <div class="form-group">
              <label for="">Mail</label>
              <input type="email" class="form-control" value = {{.Mail}} name="mail" id="mail" aria-describedby="emailHelpId" placeholder="">
              <small id="emailHelpId" class="form-text text-muted">Mail example name@mail.com</small>
            </div>
            <button type="submit" class="btn btn-success">Modify</button>
            <a name="" id="" class="btn btn-danger" href="/" role="button">Back</a>

        </form>
    </div>
</div>



{{ template "footer"}}
{{end}}