{{ define "index"}}
{{ template "header"}}

<br/>
<br/>
  <a name="" id="" class="btn btn-primary" href="/create" role="button">Add employee</a>
       <br/>
       <br/>   
      <table class="table">
        <thead>
          <tr>
            <th>#ID</th>
            <th>Name user</th>
            <th>Mail</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {{range.}}
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Mail}}</td>
            <td> 
              
              <a name="" id="" class="btn btn-info" href="/edit?id={{.Id}}" role="button">Edit</a> 
              |
              <a name="" id="" class="btn btn-danger" href="/delete?id={{.Id}}" role="button">Delete</a>
            
            
            </td>
          </tr>

          {{end}}
        </tbody>
      </table>

{{ template "footer"}}

{{end}}